.header-wrapper {
  width: 100%;
  padding: 10px 0;
  position: fixed;
  top: 0;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

.header-transparent {
  background-color: rgba(0, 0, 0, 0); /* fully transparent */
  box-shadow: none;
}

.header-darken {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  backdrop-filter: blur(4px); /* optional: frosted glass effect */
}

.header-solid {
  background-color: white;
  border-bottom: 1px solid #eee !important;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  color: black;
}

.nav-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 160px;
  font-size: 24px;
  font-weight: 800;
  color: #000;
}

.logo a {
  text-decoration: none !important;
  color: #0082fb;
}

.logo span {
  color: var(--primary-color);
  font-size: 30px;
  font-weight: bold;
}

.logo img {
  width: 100%;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

.nav-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-links ul li {
  margin: 0 20px;
  float: left;
  font-weight: bold !important;
  padding: 10px 0;
}

.nav-links ul li:hover .main-menu-link {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--primary-color);
}

.nav-links ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.header-transparent .main-menu-link {
  color: #fff;
}

.header-darken .main-menu-link {
  color: #fff;
}

.nav-act-btn {
  border-radius: 20px;
  padding: 7px 20px;
  font-size: 13px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 500;
  margin: 0 10px;
  text-decoration: none;
}

.nav-act-btn-login {
  background-color: #fff;
  color: #333;
  font-weight: 800;
  font-size: 14px;
}

.login {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.nav-toggle-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none !important;
  padding: 5px;
}

.nav-toggle-btn i {
  font-size: 30px;
  color: #333;
  font-weight: bold;
}

.nav-small {
  display: none;
  position: fixed;
  top: 67px;
  right: -105%;
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-left: 1px solid #f2f3f5;
  padding: 20px;
  z-index: 1001;
  transition: right 0.3s ease;
  backdrop-filter: blur(10px);
  z-index: 1100;
}

.nav-small.open {
  right: 0; /* Slide in */
}

.nav-small ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.nav-small ul li {
  margin: 10px 0;
  text-align: left;
  border-bottom: 1px solid #e8e9eb;
  width: 100%;
  padding: 10px;
}

.nav-small ul li a {
  text-decoration: none;
  color: #333 !important;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  width: 100% !important;
}

.nav-small ul li:hover {
  border-bottom: none;
}

.nav-small ul li a:hover {
  color: var(--primary-color);
}

.extra-links-wrapper {
  display: none;
}

.extra-links {
  color: #333;
  text-decoration: none;
  font-weight: 600;
  margin: 10px;
  font-size: 14px;
}

/* Menu dropdown */

.menu-dropdown {
  /* TODO: position: absolute; */
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 5px;
}

.menu-dropdown-item {
  padding: 10px;
  border-radius: 10px;
  display: flex;
}

.menu-item-icon {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.menu-item-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu-item-details {
  width: calc(100% - 50px);
}

.menu-dropdown-item p {
  margin-top: 3px;
  font-size: 13px;
}

.has-dropdown .menu-dropdown {
  display: none;
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  border-radius: 5px;
  transition: opacity 0.2s ease-in-out;
}

.has-dropdown:hover .menu-dropdown {
  display: block;
}

.menu-dropdown-item:hover {
  background-color: #f5f5f5;
}

.icon-white {
  color: white !important;
}

.icon-black {
  color: black;
}

/* Mobile submenu styling */
.mobile-submenu {
  list-style: none;
  padding-left: 10px;
  margin-top: 10px;
}

.mobile-submenu li {
  border-bottom: 1px solid #e8e9eb;
  padding: 10px 0;
}

.mobile-submenu li a {
  color: #333 !important;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

.mobile-submenu li a:hover {
  color: var(--primary-color);
}

@media (max-width: 991px) {
  .header-wrapper {
    padding: 7px 0;
    /* border-bottom: 1px solid #ccc; */
  }

  .logo {
    font-size: 20px;
    width: 160px;
  }

  .nav-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-actions {
    display: none;
  }

  .nav-toggle-btn {
    display: block !important;
  }

  .nav-small {
    display: block; /* Only visible on small devices */
  }

  .nav-links ul {
    display: none;
  }

  .small-nav-actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-act-btn {
    margin: 0 10px;
    width: 100%;
    border-radius: 5px;
  }

  .extra-links-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right-small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
