.about-wrapper {
  padding: 100px 0;
  background-color: #f9f9f9;
}

.about-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
}
.about-image-wrapper img {
  width: 100%;
  border-radius: 5px;
}

.about-content {
  padding: 20px;
}

.about-content p {
  margin-top: 40px;
}
